*{
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: rgb(214, 214, 214);
    height: 100vh;
    width: 100vw;
    
}

main{
    margin-top: 40vh;
}

#nytimes{
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}

.conjunto{

    display: flex;
    flex-wrap: wrap;

}

#botones{
     
    display: flex;
    flex-direction: column;
    min-width: 300px;
    text-align: center;
    align-items: center;
}

#comenzar, #botonLogin{
    min-width: 120px;
    margin-top: 3%;
    min-height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(0, 39, 44);
    font-weight: bold;
    font-size: 14px;
}

.favoritos{
    margin-top: 10px;
    text-align: center;
}

.tarjetas{
  
    border: 1px solid rgb(14, 13, 13);
    background-color: rgb(208, 255, 239);
    border-radius: 3px;
    min-height: 150px;
    min-width: 170px;
    margin: 5px;
    max-width: 10%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

 .tarjetas p{
  margin-top: 14px;  
} 





.tarjetas2{
  
    border: 1px solid rgb(143, 143, 143);
    background-color: rgb(255, 223, 211);
    min-height: 150px;
    min-width: 170px;
    margin: 5px;
    max-width: 10%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}



.best{
    margin-top: 4%;
    background-color: black;
    border-radius: 5px;
    /*min-height: 20px;*/
    display: flex;
    justify-content: center;

}

#best{
    color: white;
    text-align: center;
    font-size: 30px;

}

.more{
    margin-top: 5px;
    border: 2px solid rgb(173, 172, 172);
    padding: 1px;
}

.ranking{
   margin: 10px 10px
}

.amazon{
    border: 1px solid orange;
    padding: 1px;
    font-size: 15px;
    background-color:orange;
    color: white;
    box-shadow: 1px 1px 1px 1px grey;
}

.foto{
    max-width: 100%;
    max-height: 100%;

}

.volver{
    background-color: red;
    color: white;
    border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px grey;
}

footer{
    text-align: center;
    bottom: 0;
    position: fixed;
    margin-bottom: 10px;
    display: flex;
}


/* añadimos media queries */
@media only screen and (min-width: 961px) {
    /*
    *{
      background-color: rgb(39, 170, 214);
      max-height: 100px;
    }
    */
  }